version: "1"
# TODO Migrate to Docker compose v2, as v1 no longer updates. See https://docs.docker.com/compose/migrate/

services:
  tloegbbl-backend:
    image: tloegbbl-backend
    container_name: tloegbbl-backend
    depends_on:
      - postgres-database
      # TODO Condition that DB must be healthy, see https://docs.docker.com/compose/compose-file/05-services/#depends_on
    environment:
      - DATABASE_URL=postgresql://test:test@postgres-database:5432/tloegbbl?schema=tloegbbl
    build:
      dockerfile: backend/Dockerfile
      context: .
      target: deploy
      args:
        PORT: 3000
    restart: on-failure:10
    networks:
      - tloegbbl-network
    ports:
      - 3000:3000
  postgres-database:
    image: postgres
    container_name: tloegbbl-postgres
    healthcheck:
      # Have to use single command string here, see https://github.com/peter-evans/docker-compose-healthcheck/pull/17
      test: ["CMD-SHELL", "pg_isready -U test -d tloegbbl"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    environment:
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=tloegbbl
    volumes:
      - tloegbbl-postgres:/var/lib/postgresql/data:rw
    ports:
      - "3001:5432"
    networks:
      - tloegbbl-network

volumes:
  tloegbbl-postgres:
    driver: local

networks:
  tloegbbl-network:
